*{
    font-family: sans-serif;
    color: brown;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;}
    .header{
       text-align: center;
    }
    .mainsection{
        background-color:burlywood;
    }
    .heading{
        font-size: 4em;
        font-weight: 2000px;
        color: brown;
        padding-top:50px ;
        padding-bottom: 50px;
        width: 100%;
    }

    .flex{
        display:flex;
        justify-content:space-evenly;


    }

    .size{
        width: 500px;
        height: 32px;
    }

    .p{
        display: flex;
        justify-content:flex-start ;
        padding-left: 119px;

    }